/* @tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  .print\:hidden {
    display: none !important;
  }
  .print\:shadow-none {
    box-shadow: none !important;
  }
  .print\:rounded-none {
    border-radius: 0 !important;
  }
  body {
    background: white !important;
  }
} */

@import "tailwindcss";
